.top-bar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 4rem;

  background-color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-primary-darker);
}

.top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s linear;
}

.top-bar-container a:hover {
  opacity: 0.6;
}

.top-bar-container > img {
  height: 1.6rem;
}

@media (min-width: 700px) { 
  .top-bar-container {
    padding: 1.6rem 10rem;
  }
}